@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-brand,
.nav-link {
  color: black !important;
}

h1 {
  font-size: 20px !important;
}

.flex-container {
  display: flex !important;
}

.btn {
  background-color: red !important;
  color: white !important;
  font-size: 10px !important;
}

select {
  box-shadow: none !important;
  border-color: black !important;
}

.text-left {
  text-align: left;
}

.fa-plus {
  color: green !important;
  margin: 5px;
}

.fa-minus {
  color: red !important;
  margin: 5px;
}

.fa-trash {
  color: red;
}

.col-md-4 {
  text-align: right;
}

input {
  margin-top: 10px !important;
  box-shadow: none !important;
}

.admin-function {
  padding: 10px;
  background-color: rgb(1, 1, 77);
}

.admin-function li {
  list-style-type: none !important;
  display: inline;
}

.admin-function li a {
  color: white;
  text-decoration: none;

  padding: 20px;
}

td,
th,
tr {
  text-align: left;
}

.background-main {
  background-image: url("./background-images/main.jpg");
  margin-top: -50px !important;
}
